@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --verde: #297c0b;
  --verde-claro: #87d900;
  --morado: #86097F;
  --morado-claro:#C15EB1;
  --rosa: #E91E63;
}

.float {
  animation: float-animation 2.5s infinite ease-in-out;
}

@keyframes float-animation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5%);
  }
}
